@import "tailwindcss";
@plugin "@tailwindcss/typography" {
   className: wysiwyg;
};
@plugin "daisyui";



@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@layer utilities {
  .animate-fade-in-down {
    animation: fade-in-down 0.2s ease-out;
  }
}

@layer base {
  h1 {
    @apply text-5xl font-bold text-[#333333];
  }

  h4 {
    @apply text-base font-bold text-[#666666];
  }

  p {
    @apply text-base font-normal text-[#666666];
  }
}


@theme {
  --max-width-desktop: 1232px;
  --text-color-body: #999999;
  --text-color-primary: #7c4ee4;
  --text-color-title: #333333;
}

body {
  background: white;
  color: var(--foreground);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}